@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 800;
  src: url("/node_modules/plaid-threads/fonts/cern-extrabold.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-extrabold.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-extrabold.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-extrabold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 800;
  src: url("/node_modules/plaid-threads/fonts/cern-extrabolditalic.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-extrabolditalic.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-extrabolditalic.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-extrabolditalic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 400;
  src: url("/node_modules/plaid-threads/fonts/cern-regular.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-regular.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-regular.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 500;
  src: url("/node_modules/plaid-threads/fonts/cern-medium.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-medium.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-medium.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-medium.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 500;
  src: url("/node_modules/plaid-threads/fonts/cern-mediumitalic.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-mediumitalic.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-mediumitalic.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-mediumitalic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: normal;
  font-weight: 600;
  src: url("/node_modules/plaid-threads/fonts/cern-semibold.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-semibold.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-semibold.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-semibold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 600;
  src: url("/node_modules/plaid-threads/fonts/cern-semibolditalic.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-semibolditalic.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-semibolditalic.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-semibolditalic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Cern;
  font-style: italic;
  font-weight: 400;
  src: url("/node_modules/plaid-threads/fonts/cern-italic.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/cern-italic.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/cern-italic.woff") format("woff"), url("/node_modules/plaid-threads/fonts/cern-italic.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Heimat";
  font-style: normal;
  font-weight: 600;
  src: url("/node_modules/plaid-threads/fonts/hm-bold.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/hm-bold.woff2") format("woff2"), url("/node_modules/plaid-threads/fonts/hm-bold.woff");
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("/node_modules/plaid-threads/fonts/Inconsolata-Bold.eot");
  src: url("/node_modules/plaid-threads/fonts/Inconsolata-Bold.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/Inconsolata-Bold.ttf") format("truetype"), url("/node_modules/plaid-threads/fonts/Inconsolata-Bold.woff") format("woff"), url("/node_modules/plaid-threads/fonts/Inconsolata-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("/node_modules/plaid-threads/fonts/Inconsolata-Regular.eot");
  src: url("/node_modules/plaid-threads/fonts/Inconsolata-Regular.eot?#iefix") format("embedded-opentype"), url("/node_modules/plaid-threads/fonts/Inconsolata-Regular.ttf") format("truetype"), url("/node_modules/plaid-threads/fonts/Inconsolata-Regular.woff") format("woff"), url("/node_modules/plaid-threads/fonts/Inconsolata-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-font-variant-ligatures: common-ligatures;
  -webkit-font-smoothing: antialiased;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Cern, Helvetica, Arial, sans-serif;
  color: #111111;
  font-size: 1.6rem;
  line-height: 2.4rem;
}

h1 {
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.2;
}

h2 {
  font-size: 3.6rem;
  font-weight: 800;
  line-height: 1.33;
}

h3 {
  font-size: 3.6rem;
  line-height: 1.33;
  font-weight: normal;
}

h4 {
  font-size: 2.4rem;
  line-height: 1.33;
  font-weight: normal;
}
h4.emphasis {
  font-weight: 800;
}

h5 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

h6 {
  font-family: Inconsolata, Consolas, Courier, monospace;
  font-size: 1.4rem;
  line-height: 1.33;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #383838;
}

a {
  color: #111111;
  text-decoration: none;
}

small {
  font-size: 1.2rem;
  line-height: 1.33;
  letter-spacing: 0.25px;
}

code {
  font-family: Inconsolata, Consolas, Courier, monospace;
  font-size: 1.4rem;
  white-space: pre-wrap;
  word-break: break-word;
  background-color: #f6f6f6;
  border-radius: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-top: 0.2rem;
  color: #111111;
}

em {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 56rem;
  max-width: 67.2rem;
  margin: 0 auto;
}

/*# sourceMappingURL=index.module.css.map */
