<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Standard Form 86</title>
        <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="\src\styles\styles.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
    </style>
    </head>
    <body>
      <!-- nav menu -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
            <div class="container">
              <a href="https://icm-consulting.us" class="navbar-brand"
                >ICM Consulting</a
              >
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navmenu"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                    <a href="#learn" class="nav-link">What You'll learn</a>
                  </li>
                  <li class="nav-item">
                    <a href="#questions" class="nav-link">Questions</a>
                  </li>
                  <li class="nav-item">
                    <a href="#instructors" class="nav-link">Instructors</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!-- Showcase -->
    <section class="p-5 text-center text-sm-start">
      <div class="container">
               
                    <p>Please provide the following details about yourself</p>
                
             
        <p>Gender:</p>

		<p><input id="Section6Applicant_9440" type="Radio" name="GenderRadio" value=0 Class="Section6"></input>Male		<!--9440-->
		<label for=Section6Applicant_9440 Class="Section6" ></label></p>

		<p><input id="Section6Applicant_9439" type="Radio" name="GenderRadio" value=1 Class="Section6"></input>Female		<!--9439-->
		<label for=Section6Applicant_9439 Class="Section6" ></label></p>

		<p>Weight (in pounds)</p>
		<input type="Text" id="Section6Applicant_9438" Class="Section6"><!--9438-->

		<p>Hair color</p>
		<select id="Section6Applicant_9437" Class="Section6" ><!--9437-->
            <option value="Bald">Bald</option>
            <option value="Black">Black</option>
            <option value="Blonde or Strawberry  ">Blonde or Strawberry  </option>
            <option value="Brown">Brown</option>
            <option value="Gray or Partially Gray">Gray or Partially Gray</option>
            <option value="Red or Auburn">Red or Auburn</option>
            <option value="Sandy">Sandy</option>
            <option value="White">White</option>
            <option value="Blue">Blue</option>
            <option value="Green">Green</option>
            <option value="Orange">Orange</option>
            <option value="Pink">Pink</option>
            <option value="Purple">Purple</option>
            <option value="Unspecified or Unknown">Unspecified or Unknown</option>

            </select>		

        <p>Eye color</p>
		<select id="Section6Applicant_9436" Class="Section6" ><!--9436-->
            <option value="Black">Black</option>
            <option value="Blue">Blue</option>
            <option value="Brown">Brown</option>
            <option value="Gray">Gray</option>
            <option value="Green">Green</option>
            <option value="Hazel">Hazel</option>
            <option value="Maroon">Maroon</option>
            <option value="Multicolored">Multicolored</option>
            <option value="Pink">Pink</option>
            <option value="Unknown">Unknown</option>

        </select>		

        
        <p>How tall are you?</p>

        <p>
        <select id="Section6Applicant_9434" Class="Section6" ><!--9434-->

            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
 
         </select> Feet</p>

         <p>
		<select id="Section6Applicant_9433" Class="Section6" ><!--9433-->
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>

</select> Inches</p>

                
              
            </section>
          
            <footer class="foot foot-expand-lg text-light fixed-bottom bg-dark foot-dark py-3">
          
        
        <form>
            <input
              type="button"
              value="Back"
              class="backButton"
              onclick="history.back()"
            />
          </form>
          <button id="sendDataButton"><a href="http://localhost:5173/pages/section7">Next</a></button>
        <label for="ProgressBar">14% Complete</label>
        <progress id="ProgressBar" value="4" max="28"> 14% Complete </progress>
        </footer>  
        </div>
        		<script>


        SSNhtml= localStorage.getItem("SSNNumber")
        SectionHTML="Section6"              

        var sendDataButton = document.querySelector("#sendDataButton");
                     function radioValue(radioGroupName){
            var ele= document.getElementsByName(radioGroupName)

            for (i = 0; i < ele.length; i++) {
                if (ele[i].checked) {
                    return ele[i].value
                    break} }
                     
            
            return ''
            
        }

        function checkboxvalue(checkboxname){
            var checkboxhtml = document.getElementById(checkboxname)
            
            if(checkboxhtml.checked ==true){
                var checkboxAsBit=1}
            else {
                var checkboxAsBit=0
            }
            console.log(checkboxAsBit)
            return checkboxAsBit

        }

        function emptydata(PossibleEmpty) {
            if (document.getElementById(PossibleEmpty).value === undefined) {
                return '';
            }
            }        

            sendDataButton.addEventListener("click", () => {
                     var Section6Applicant_9440HTML = radioValue("Section6Applicant_9440");
var Section6Applicant_9439HTML = radioValue("Section6Applicant_9439");
var Section6Applicant_9438HTML =document.querySelector(`[id="Section6Applicant_9438"]`).value;
var Section6Applicant_9437HTML =document.querySelector(`[id="Section6Applicant_9437"]`).value;
var Section6Applicant_9436HTML =document.querySelector(`[id="Section6Applicant_9436"]`).value;
var Section6Applicant_9433HTML =document.querySelector(`[id="Section6Applicant_9433"]`).value;

        var radio1 = document.querySelector(".HasEntry1");
        var radioNo1 = document.querySelector(".NoEntry1");
        var radio2 = document.querySelector(".HasEntry2")
        var radioNo2 = document.querySelector(".NoEntry2");
        var radio3 = document.querySelector(".HasEntry3")
        var radioNo3 = document.querySelector(".NoEntry3");
        var radio4 = document.querySelector(".HasEntry4")
        var radioNo4 = document.querySelector(".NoEntry4");

        var Entry1List = document.querySelectorAll('.Entry1');
        var Entry2List = document.querySelectorAll('.Entry2');
        var Entry3List = document.querySelectorAll('.Entry3');
        var Entry4List = document.querySelectorAll('.Entry4');


radio1.addEventListener('change', function() {
    var Entry1List = document.querySelectorAll('.Entry1');
    toggleHidden(radio1.checked, Entry1List);

});

radioNo1.addEventListener('click', function() {
    var Entry1List = document.querySelectorAll('.Entry1');
    toggleHidden(!radioNo1.checked, Entry1List);
});

radio2.addEventListener('change', function() {
    var Entry2List = document.querySelectorAll('.Entry2');
    toggleHidden(radio2.checked, Entry2List);
    toggleHidden(!radio2.checked,[document.querySelector(".FirstRadio")])
});

radioNo2.addEventListener('click', function() {
    var Entry2List = document.querySelectorAll('.Entry2');
    toggleHidden(!radioNo2.checked, Entry2List);
    toggleHidden(radioNo2.checked,[document.querySelector(".FirstRadio")])
});

radio3.addEventListener('change', function() {
    var Entry3List = document.querySelectorAll('.Entry3');
    toggleHidden(radio3.checked, Entry3List);
    toggleHidden(!radio3.checked,[document.querySelector(".SecondRadio")])
});

radioNo3.addEventListener('click', function() {
    var Entry3List = document.querySelectorAll('.Entry3');
    toggleHidden(!radioNo3.checked, Entry3List);
    toggleHidden(radioNo3.checked,[document.querySelector(".SecondRadio")])
});


radio4.addEventListener('change', function() {
    var Entry4List = document.querySelectorAll('.Entry4');
    toggleHidden(radio4.checked, Entry4List);
    toggleHidden(!radio4.checked,[document.querySelector(".ThirdRadio")])
});

radioNo4.addEventListener('click', function() {
    var Entry4List = document.querySelectorAll('.Entry4');
    toggleHidden(!radioNo4.checked, Entry4List);
    toggleHidden(radioNo4.checked,[document.querySelector(".ThirdRadio")])
});

	
                     
                     
                     var obj= {


        Table: "Section6",
        SSN: SSNhtml,    
        Set:1,
        Entry: 1,     
        Section6Applicant_94400Column : "Section6Applicant_94400",
Section6Applicant_94400Value : String(Section6Applicant_94400HTML),
Section6Applicant_94391Column : "Section6Applicant_94391",
Section6Applicant_94391Value : String(Section6Applicant_94391HTML),
Section6Applicant_9438Column : "Section6Applicant_9438",
Section6Applicant_9438Value : String(Section6Applicant_9438HTML),
Section6Applicant_9437Column : "Section6Applicant_9437",
Section6Applicant_9437Value : String(Section6Applicant_9437HTML),
Section6Applicant_9436Column : "Section6Applicant_9436",
Section6Applicant_9436Value : String(Section6Applicant_9436HTML),
Section6Applicant_9433Column : "Section6Applicant_9433",
Section6Applicant_9433Value : String(Section6Applicant_9433HTML),    
        } 
    
fetch("/ToSQL", {
                method: "POST",
                headers: {
                    "Content-type": "application/json"
                },
                body: JSON.stringify(obj)
            })
            .then((response) => {
                if (response.ok) {
                    console.log("Data sent successfully");
                    alert("Data Sent Properly!")
                } else {
                    console.error("Failed to send data");
                    alert("Something went wrong")
                }
            });                     
                     
})                     
		</script>


<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"
></script>         
	</body>

</html>

